<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/calorieGraph.css">
    <title>フォーム</title>
</head>
<body>
    <div class="form-container">
        <h1>食品のカロリー</h1>
        <div id="calories">（なんかの数値表示）</div>
        <h3>レシピ名:{{calorie_dict["name"]}}</h3>
        <h3>カロリー:{{calorie_dict["calorie"]}}</h3>
        <img src="../static/img/sin.png" alt="チャート">
    </div>
</body>
</html>
