<!DOCTYPE html>
<html lang="en">
  <title>チラシ→レシピ</title>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/index.css" />

    <title>チラシ</title>
  </head>

  <body>
    <header>
      <h1 class="app_name"><strong>チラシ→レシピ</strong></h1>
    </header>
    <form method="post" action="/">
      <div class="explanation">
        <p>
          必要な材料を入力してください。
        </p>
        <input type="text" class="text_box" name="item1"  placeholder="例 : 牛肉,にんじん"/>
      </div>
      <div>
        <br />
        <input type="submit" class="submit" value="検索開始" />
      </div>
    </form>
  </body>
</html>
